{% extends "base.html" %}

{% block titulo %}Detalhes da Consulta{% endblock %}

{% block principal %}

<div class="col-12">
    <div class="row">
        <div class="col-12 mb-4">
            <h1>Consulta de {{consulta.especialidadeMed}}</h1>
            <h6 class="display-6">Agendada para:</h6>
            <h3 class="text-primary">{{consulta.dia}} às {{consulta.hora}}</h3>
            <hr>
            <a href="/consulta" class="btn btn-secondary btn-lg">Voltar</a>
        </div>
    </div>
</div>

{% endblock %}
