{% extends "base.html" %}

{% block titulo %}Inserir Consulta{% endblock %}

{% block principal %}
<h1 class="display-6">Inserir Consulta</h1>
<hr>
<form method="post">
    <div class="form-floating mb-3">
        <input type="date" name="dia" id="dia" class="form-control" required>
        <label for="dia">Dia</label>
    </div>
    <div class="form-floating mb-3">
        <input type="time" name="hora" id="hora" class="form-control" required>
        <label for="hora">Hora</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" name="especialidadeMed" id="especialidadeMed" class="form-control" placeholder=" " required>
        <label for="especialidadeMed">Especialidade Médica</label>
    </div>
    <div>
        <a href="/consulta" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
{% endblock %}
