{% extends "base.html" %}

{% block titulo %}Médicos{% endblock %}

{% block principal %}

<h1 class="display-6 m-0">Médicos</h1>
<hr>
<table class="table table-striped table-sm ultima-centralizada terceira-centralizada">
    <thead>
      <tr>
        <th class="text-bg-dark">Nome</th>
        <th class="text-bg-dark">E-mail</th>
        <th class="text-bg-dark">CRM</th>
        <th class="text-bg-dark">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for m in medicos %}
        <tr>
          <td>{{ m.nome }}</td>
          <td>{{ m.email }}</td>
          <td>{{ m.crm }}</td>
          <td>
            <a href="/medico/alterar/{{m.id}}" class="btn btn-secondary btn-sm">
              <i class="bi bi-pencil"></i>
            </a>
            <a href="/medico/excluir/{{m.id}}" class="btn btn-danger btn-sm">
              <i class="bi bi-trash"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
