{% extends "base.html" %}

{% block titulo %}Excluir Paciente{% endblock %}

{% block principal %}
<h1 class="display-6">Excluir Paciente</h1>
<hr>
<p class="lead">
    Deseja realmente excluir o paciente <b>{{usuario_excluir.nome}}</b>?
</p>
<form method="post">
    <input type="hidden" name="id_paciente" value="{{usuario_excluir.id}}">
    <div>
        <a href="/paciente" class="btn btn-success">Não</a>
        <button type="submit" class="btn btn-danger">Sim</button>
    </div>
</form>
{% endblock %}
